<a href="https://colab.research.google.com/github/bianquini/HeartDisease-DataMining/blob/master/Entendimento_do_Problema.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Entendimento do Problema

## **Descrição**  
  O conjunto de dados escolhido foi o **Heart Disease UCI**, este conjunto foi criado com o intuito de classificar se os pacientes listados no mesmo possuem ou não doenças cardíacas, para isso temos alguns dados que podem ser relevantes para realizar a classificação. 
##  **Objetivo**
 Meu objetivo com esse conjunto de dados é criar um modelo que possa predizer se determinado paciente terá ou não alguma doença cardíaca.

## **Variáveis**

*   *age*:Idade;

*   *sex*: Sexo. 0-feminino, 1-masculino;

*   *cp*: Tipo de dor no peito;

*   *trestbps*: Pressão arterial em repouso em mmHg (milímetros de mercurio);

*   *chol*: Colesterol sérico em mg/dl (miligramas por cecilitro);

*   *fbs*: Açucar no sangue em jejum > 120 mg/dl.     0-falso, 1-verdadeiro;

*   *restecg*: Resultados eletrocardiográficos quando em repouso;

*   *thalach*: Frequência cardíaca máxima alcançada;

*   *exang*: Angina induzida por exercício. 0-falso, 1-verdadeiro;

*   *oldpeak*: Depressão ST induzida por exercício em relação ao repouso;

*   *slope*: a inclinação do segmento ST do pico do exercício;

*   *ca*: Número de vasos principais (0-3) coloridos por fluoroscopia;

*   *thal*: 1 = normal; 2 = defeito fixo; 3 = defeito reversível;

*   *target*: Possui a doença ou não. 0-não possui, 1-possui;

In [1]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/bianquini/HeartDisease-DataMining/master/heart.csv')
data

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]