<a href="https://colab.research.google.com/github/bianquini/HeartDisease-DataMining/blob/master/pr%C3%A9_processamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pré-processamento

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataSet = pd.read_csv('https://raw.githubusercontent.com/bianquini/HeartDisease-DataMining/master/heart.csv')

dataFrame = pd.DataFrame(dataSet)
dataFrame

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

### Mapeamento direto
  Para as colunas: 

*   sex
*   fbs
*   exang

*   Target

In [4]:
to_replaceSex = {
    0 : 'male',
    1 : 'female'
}

to_replaceTorF = {
    0 : 'false',
    1 : 'true'
}

to_replaceClass = {
    0 : 'healthy',
    1 : 'unhealthy'
}

dataFrame['sex'] = dataFrame.sex.replace(to_replace=to_replaceSex)
dataFrame['fbs'] = dataFrame.fbs.replace(to_replace=to_replaceTorF)
dataFrame['exang'] = dataFrame.exang.replace(to_replace=to_replaceTorF)
dataFrame['target'] = dataFrame.target.replace(to_replace=to_replaceClass)


dataFrame

     age     sex  cp  trestbps  chol  ... oldpeak  slope  ca thal     target
0     63  female   3       145   233  ...     2.3      0   0    1  unhealthy
1     37  female   2       130   250  ...     3.5      0   0    2  unhealthy
2     41    male   1       130   204  ...     1.4      2   0    2  unhealthy
3     56  female   1       120   236  ...     0.8      2   0    2  unhealthy
4     57    male   0       120   354  ...     0.6      2   0    2  unhealthy
..   ...     ...  ..       ...   ...  ...     ...    ...  ..  ...        ...
298   57    male   0       140   241  ...     0.2      1   0    3    healthy
299   45  female   3       110   264  ...     1.2      1   0    3    healthy
300   68  female   0       144   193  ...     3.4      1   2    3    healthy
301   57  female   0       130   131  ...     1.2      1   1    3    healthy
302   57    male   1       130   236  ...     0.0      1   1    2    healthy

[303 rows x 14 columns]

### Normalização

In [5]:
target = dataFrame.target.values

newDF = dataFrame.drop(['target'], axis = 1)

dataSetNorm = (newDF - np.min(newDF)) / (np.max(newDF) - np.min(newDF)).values

dataSetNorm

NameError: ignored

### Visualização de Dados